*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  box-sizing: border-box; }

.btn {
  color: #fff;
  padding: 2rem 2.5rem 2rem 2.5rem;
  font-size: 2rem;
  display: inline-block;
  font-weight: 600;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.btn--white {
  background-color: #fff;
  color: #a3c145; }
  .btn--white:hover {
    color: #fff;
    background-color: #a3c145; }

.btn--green {
  background-color: #a3c145;
  color: #fff; }
  .btn--green:hover {
    background-color: #fff;
    color: #a3c145; }

.btn--border-green {
  border: 2px solid #a3c145; }

.btn--small {
  padding: 15px 20px 15px 20px;
  font-size: 14px; }

.post {
  background-color: white;
  text-align: center; }
  .post__photo {
    height: 30rem;
    background-size: cover;
    background-position: top; }

#photo--1 {
  background-image: url(../img/post_photo1.jpg); }

#photo--2 {
  background-image: url(../img/post_photo2.jpg); }

#photo--3 {
  background-image: url(../img/post_photo3.jpg); }

.header {
  height: 95vh;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: top; }
  .header__heading {
    width: 100%;
    height: 8rem;
    background-color: #3a3a3a;
    color: #c2c2c2;
    font-size: 1.4rem;
    padding: 1.5rem;
    font-family: "Poppins", sans-serif; }
  .header__telephone {
    margin-left: 2.3rem;
    padding: 0.5rem; }
  .header__envelope a {
    color: #c2c2c2;
    text-decoration: none; }
  .header__address {
    float: right; }
  .header__navigation {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    height: 11.1rem;
    background-color: white;
    text-align: center;
    margin: 0, auto;
    position: sticky;
    top: 0;
    z-index: 9999; }
  .header__navigation a {
    text-decoration: none;
    color: #3a3a3a; }
  .header__navigation ul {
    display: inline-block;
    list-style: none;
    padding-right: 8rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    text-align: right; }
  .header__navigation li {
    display: inline;
    white-space: nowrap;
    padding: 0.7rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  .header__text {
    position: relative;
    text-align: right;
    top: 10rem;
    right: 2rem;
    color: white;
    font-size: 2.8rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1.2; }
  .header__text h1 span {
    display: block; }

.navigation__logo {
  float: left;
  margin-left: 2rem;
  margin-top: 1rem; }

.header__telephone--space,
.header__envelope--space {
  display: inline-block;
  margin-right: 0.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: blue; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    float: left;
    background-color: orangered;
    margin-top: 3rem; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }

.main-text-container {
  text-align: center; }
