.row {
  max-width: $grid-width;
  margin: 0 auto;
  background-color: blue;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
    background-color: orangered;
    margin-top: 3rem;
  }
}
