.btn {
  color: #fff;
  padding: 2rem 2.5rem 2rem 2.5rem;
  font-size: 2rem;
  display: inline-block;
  font-weight: 600;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.btn--white {
  &:hover {
    color: #fff;
    background-color: #a3c145;
  }
  background-color: #fff;
  color: #a3c145;
}

.btn--green {
  &:hover {
    background-color: #fff;
    color: #a3c145;
  }
  background-color: #a3c145;
  color: #fff;
}

.btn--border-green {
  border: 2px solid #a3c145;
}

.btn--small {
  padding: 15px 20px 15px 20px;
  font-size: 14px;
}
