.post {
  background-color: white;
  text-align: center;
  box-shadow: 3px 3px 13px -4px rgba(0, 0, 0, 0.34);
  font-family: "Courier New", Courier, monospace;

  &__photo {
    height: 30rem;
    background-size: cover;
    background-position: top;
  }

  z-index: -1;
}

#photo--1 {
  background-image: url(../img/post_photo1.jpg);
}

#photo--2 {
  background-image: url(../img/post_photo2.jpg);
}

#photo--3 {
  background-image: url(../img/post_photo3.jpg);
}
